<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<style>body {

    background-color:lightblue;
}
nav{
    color: darkgoldenrod;
}
</style>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">

    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="list.html">home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="jobform.html">form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="show.html">show</a>
        </li>

        <form action="/add">
           Search: <input type="text" name=""><br>
            <input type="submit" value="Submit">
        </form>

    </ul>

</nav>

<h2>Job List</h2>
<a href="/">Add a Job</a><br />
<table>
 <tr>
    <th>Title,</th>
     <th>Description,</th>
     <th>Postdate,</th>
     <th>Author,</th>
     <th>Phone,</th>
     <th>Features,</th>

 </tr>
    <tr th:each="job :${jobs}">
        <td th:text="${job.title}"></td>
        <td th:text="${job.description}"></td>
        <td th:text="${job.postdate}"></td>
        <td th:text="${job.author}"></td>
        <td th:text="${job.phone}"></td>
        <td th:text="${job.features}"></td>
    <td>
        <a th:href="@{/update/{id}(id=${job.id})}">Update</a>
        <a th:href="@{/detail/{id}(id=${job.id})}">Details</a>
        <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a>
    </td></tr>

</table>
</body>

</html>